<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found (404) - A Simple Public IP Address API</title>
  <meta name="description" content="API is a simple public IP address API">
  <meta name="yandex-verification" content="698a98ba74b41bae" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
  <div class="content"
    style="position: relative; max-width: 920px; padding: 100px 0; margin-left: auto; margin-right: auto; width: auto;">
    <h1>Not Found</h1>
    <p>The requested resource was not found on this server.</p>
    <p><a href="/"><- Back to home page</a></p>
  </div>
</body>

</html>