<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$base_url - A Simple Public IP Address API</title>
  <meta name="description" content="API is a simple public IP address API">
  <meta name="yandex-verification" content="698a98ba74b41bae" />
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body style="position: relative; max-width: 920px; padding: 100px 0; margin-left: auto; margin-right: auto; width: auto;">
  <h2>API Usage</h2>
  <p>You can get your public IP directly (in plain text), you can get your public IP in JSON format.</p>
  <h3>IPv4</h3>
  <div class="wrapper" style="border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; margin: 30px 0; padding: 30px 0;">
    <table class="table" style="width: 100%;">
      <thead>
      <tr>
        <td>API URL</td>
        <td>Response Type</td>
        <td>Sample Output (IPv4)</td>
      </tr>
      </thead>
      <tbody>
      <tr class="empty-tr-line">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><code>$base_url/ip</code></td>
        <td><code>text</code></td>
        <td><code>$ip</code></td>
      </tr>
      <tr>
        <td><code>$base_url/json</code></td>
        <td><code>json</code></td>
        <td><code>{"ip":"$ip"}</code></td>
      </tr>
      </tbody>
    </table>
  </div>
  <footer style="margin-top: 100px; text-align: center;">
    <ul style="list-style: none; display: flex; align-items: center; justify-content: center; padding: 0">
      <li style="margin: 0 10px;">Project on <a style="text-decoration: none;" href="https://github.com/i-dea-by/simple_ip_service">github.com</a></li>
      <li style="margin: 0 10px;">Project on <a style="text-decoration: none;" href="https://hub.docker.com/r/ideaby/ipservice">hub.docker.com</a></li>
    </ul>
    <p><small>©2025</small></p>
  </footer>
</body>
</html>